<tablr [tablrWidth]="'602px'"
        [tablrHeight]="'350px'"
        [columns]="columns"
        [rows]="rows"
        [tablrLeft]="'150px'"
        [tablrTop]="'100px'"
        [cellPadding]="'5px'"
        [evenRowBgColor]="'#262729'"
        [oddRowBgColor]="'#2F3135'"
        [columnBorderColor]="'#3D4357'"
        [columnBorderWidth]="'1px'"
        [headerBgColor]="'#2a2e3d'"
        [fontColor]="'#ccc9c9'"
        [headerFontColor]="'#dddddd'"
        [fixedHeader]="true"
        [headerFontSize]="'12px'">
</tablr>

<!-- <tablr [tablrWidth]="'602px'"
        [tablrHeight]="'350px'"
        [columns]="columns"
        [tablrLeft]="'150px'"
        [tablrTop]="'100px'"
        [cellPadding]="'5px'"
        [evenRowBgColor]="'#F1F1F3'"
        [oddRowBgColor]="'#d8d8d8'"
        [columnBorderColor]="'#3D4357'"
        [columnBorderWidth]="'1px'"
        [headerBgColor]="'#afafaf'"
        [fontColor]="'black'"
        [headerFontColor]="'black'"
        [fixedHeader]="true"></tablr> -->