<div [style.width]="tablrWidth"
	[style.height]="tablrHeight"
	(scroll)="scrolling($event)"
	[style.left]="tablrLeft"
	[style.top]="tablrTop"
	#tablr
	(mouseup)="doneDraggingColumn($event)"
	(mousemove)="mouseDrag($event)"
	(mouseleave)="doneDraggingColumn(null)">
	<tablr-column [finalColumnWidth]="finalColumnWidth" 
					[isDraggingColumn]="isDraggingColumn" 
					[data]="column" 
					(doneDragging)="doneDraggingColumn($event)" 
					(dragging)="draggingColumn($event)" 
					*ngFor="let column of columns; let i = index; let last = last"
					[style.font-size]="fontSize"
					[isFinalColumn]="last" 
					[tablrColumnWidth]="column.width" 
					[scrollTop]="scrollTop"
					[cellPadding]="cellPadding"
					[evenRowBgColor]="evenRowBgColor"
					[oddRowBgColor]="oddRowBgColor"
					[headerBgColor]="headerBgColor"
					[alternatingRowColors]="alternatingRowColors"
					[columnBorderWidth]="columnBorderWidth"
					[columnBorderColor]="columnBorderColor"
					[headerFontSize]="headerFontSize"
					[headerFontColor]="headerFontColor"
					[fontColor]="fontColor"
					[rows]="rows">
	</tablr-column>
</div>